body {
	background: rgb(230,244,75); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(230,244,75,1) 0%, rgba(51,51,204,1) 15%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(230,244,75,1)), color-stop(15%,rgba(51,51,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(230,244,75,1) 0%,rgba(51,51,204,1) 15%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(230,244,75,1) 0%,rgba(51,51,204,1) 15%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(230,244,75,1) 0%,rgba(51,51,204,1) 15%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(230,244,75,1) 0%,rgba(51,51,204,1) 15%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f44b', endColorstr='#3333cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.masterdiv {
	height: auto;
	width: auto;
	margin-left: 19%;
	margin-right: 19%;
	/*box-shadow: 0px 0px 20px 2px #FFFFFF;*/
}

.header {
	height: auto;
	width: auto;
}

.logo {
	padding-left: 43%;
	height: 50px;
	width: auto;
	background-color: #009933;
	border-radius: 10px 10px 0px 0px;
}

.links {
	padding-top: 16px;
	height: 35px;
	width: auto;
	background-color: #009933;
}

.left {
	float: left;
	width: auto;
	padding-left: 10px;
	padding-right: 6px;
}

.right {
	float: right;
	width: auto;
	padding-left: 6px;
	padding-right: 10px;
}

p, h1 {
	color: white;
	font-family: 'Roboto Condensed', sans-serif; /*ger texten en annan font*/
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

p.content {
	float: left;
	overflow: visible;
}

.content {
	height: 500px;
	width: auto;
	padding: 5px 0px 0px 5px;
	overflow: hidden;
}

.next_left {
	margin-top: 30%;
	width: 31px;
	height: 46px;
	background-image: url(/images/next_left.gif);
	opacity: 0.5;
	position: absolute;
}

.next_right {
	margin-top: 30%;
	right: 19%;
	width: 31px;
	height: 46px;
	background-image: url(/images/next_right.gif);
	opacity: 0.5;
	position: absolute;
}

.quickinfo {
	height: 63px;
	width: auto;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #009933;
	border-radius: 0px 0px 10px 10px;
}