body {
	background-image: url(/images/background1.jpg);
}

.header {
	/*background-color: #1bb7c2;*/
	background-image: linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -o-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.29, rgb(27,183,194)),
		color-stop(0.65, rgb(30,91,214)),
		color-stop(0.83, rgb(9,102,240))
	);
	border-radius: 10px 10px 0px 0px;
	height: auto;
	width: auto;
	float: left;
}

.masterdiv {
	height: auto;
	width: auto;
	margin-left: 19%;
	margin-right: 19%;
}

.logo {
	height: auto;
	width: auto;
	padding-left: 43%;
}

#content {
	height: auto;
	width: 99.4%;
	padding: 5px 0px 0px 5px;
	float: left;
}

.next_left {
	margin-top: 13%;
	width: 31px;
	height: 46px;
	background-image: url(/images/next_left.gif);
	opacity: 0.5;
	position: absolute;
}

.next_right {
	margin-top: 13%;
	right: 19%;
	width: 31px;
	height: 46px;
	background-image: url(/images/next_right.gif);
	opacity: 0.5;
	position: absolute;
}

.quickinfo {
	float: left;
	height: auto;
	width: 98.7%;
	padding: 6px 6px 6px 6px;
	background-image: linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -o-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(27,183,194) 29%, rgb(30,91,214) 65%, rgb(9,102,240) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.71, rgb(27,183,194)),
		color-stop(0.35, rgb(30,91,214)),
		color-stop(0.17, rgb(9,102,240))
	);
	
	float: left;
	border-radius: 0px 0px 10px 10px;
}