a {
	text-decoration: none;
	color: white;
}

p, h1, h2 {
	color: white;
	font-family: 'Roboto Condensed', sans-serif; /*ger texten en annan font*/
}

p {
	/*font-size: 20px;*/
}

.quickinfo p {
	margin-top: 0px;
	margin-bottom: 0px;
}

h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Roboto Condensed', sans-serif; /*ger texten en annan font*/
}

ul {
	position: absolute;
	/*background-image: url(/images/background.jpg);*/
	list-style-type: none;
	height: 80px;
	border-radius: 10px 10px 0px 0px;
}

li {
	float: left;
	margin: 0;
}

ul a {
	padding-right: 22px;
	padding-left: 22px;
	display: block;
	line-height: 80px;
	text-decoration: none;
	font-size: 21px;
	color: #371C1C;
}

ul a:hover {
	color: white;
}

ul.menu, ul.menu ul {
	list-style:none;
	margin:0; padding:0;
	position: relative;
}

ul.menu ul {						
    display:none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
}

ul.menu li:hover > ul {
	display:block;
}

ul.drop_down {
	border-radius: 0px 0px 10px 10px;
	background-color: white;
}

ul.drop_down a {
	border-radius: 0px;
}

li.menu a:hover{
	background-color: white;
	color: #0966f0;

	/*border-radius: 10px 10px 10px 10px;*/
}